doctype html
html
  head
    title bibliothèque
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    h1 Librairie
    div(class='container')
      li #{settings.listcat}
    block content
  
